<h1>{{ title }}</h1><p>{{ description }} is cool </p>
<h1>{{ title }}</h1><p>LATITUDE - {{ lat }} | LONGITUDE - {{ lng }} </p>

<agm-map 
  [latitude]="lat" 
  [longitude]="lng" 
  [zoom]="zoom"
  [disableDefaultUI]=false
  [zoomControl]="false"
  (mapClick)="mapClicked($event)"
>
    <agm-marker 
      *ngFor="let m of markers; let i = index"
      (markerClick)="clickedMarker(m, i)"
      [latitude]="m.lat" 
      [longitude]="m.lng"
      [markerDraggable]="m.draggable"
      (dragEnd)="markerDragEnd(m, $event)"
      >
      <agm-info-window>
        <strong>{{ m.name }}</strong>
      </agm-info-window>
    </agm-marker>
</agm-map>



<router-outlet></router-outlet>
