<div class="container">
<h1>{{ title }}</h1><p>{{ description }} is cool </p>
<h1>{{ title }}</h1><p>LATITUDE - {{ lat }} | LONGITUDE - {{ lng }} </p>

<div class="row">
	<div class="col-md-6">
		<div class="panel panel-primary" id="floating-panel">
			<div class="panel-heading">
				<h3 class="panel-title">Panel 1</h3>
				<span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
			</div>
			<div class="panel-body">Panel content</div>
		</div>
	</div>
</div>
<agm-map 
  [latitude]="lat" 
  [longitude]="lng" 
  [zoom]="zoom"
  [disableDefaultUI]=false
  [zoomControl]="false"
  (mapClick)="mapClicked($event)"
>
    <agm-marker 
      *ngFor="let m of markers; let i = index"
      (markerClick)="clickedMarker(m, i)"
      [latitude]="m.lat" 
      [longitude]="m.lng"
      [markerDraggable]="m.draggable"
      (dragEnd)="markerDragEnd(m, $event)"
      >
      <agm-info-window>
        <strong>{{ m.name }}</strong>
      </agm-info-window>
    </agm-marker>
</agm-map>

<div class="row">
  <div class="col-md-10">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Add Marker</h3>
      </div>
      <div class="panel-body">
        <form (submit)="addMarker()">
          <label>Location Name</label>
          <input type="text" [(ngModel)]="markerName" name="markerName">

          <label>Latitude</label>
          <input type="text" [(ngModel)]="markerLat" name="markerLat">

          <label>Longitude</label>
          <input type="text" [(ngModel)]="markerLng" name="markerLng">

          <label>Draggable</label>
          <select type="text" [(ngModel)]="markerDraggable" name="markerDraggable">
            <option value="no">no</option>
            <option value="yes">yes</option>
          </select>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>



<router-outlet></router-outlet>
</div>
